html,body{
    background-color: lightgray;
}
#main{
    background: gray;
    border-style: outset;
    border;
    width : 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;  
}
#main-1{
    margin: 0 auto;
    background-color: rgb(230, 222, 222);
    width: 150px;
    border-style: outset;
    border-color: rgb(161, 86, 86);
}
