html,body{
    background-color: lightgray;
}
#main{
    background: gray;
    border-style: outset;
    width : 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;  
}