
body {
    background-color: lightgray;
}

hr{height: 5px; background-color:black}

.container {
    background-color: rgba(155, 155, 155, 0.555);
    margin:20px auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.post {
    margin-bottom: 15px;
}
.post label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.post input[type="text"],
.post textarea {
    width: calc(100% - 20px); 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.post textarea {
    resize: vertical;
    height: 100px;
}
.user-info{
    position: fixed;
    top:50px;
    right:15px;
    width:200px;
    height: 20px;
    background-color:inherit ;
}
.write{
    position: fixed;
    top:90px;
    right:20px;
    width:200px;
    height: 20px;
    text-align: right;
}