body {
    background-color: lightgray;
    margin: 0;
    padding: 20px;
}

hr{height: 5px; background-color:black}

.container {
    background-color: rgba(155, 155, 155, 0.555);
    margin:40px 45px;
    width: auto;
    padding: 20px;
    border: 1px solid #000000;
    }
 
.post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.post label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.post input[type="text"],
.post textarea {
    width: calc(100% - 20px); 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.post textarea {
    resize: vertical;
    height: 100px;
}
.user-info{
    position: fixed;
    top:60px;
    right:15px;
    width:100px;
    height: 20px;
    background-color:inherit ;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  margin-bottom: 10px;
}

.date {
  font-style: italic;
  color: #888888;
}
.write{
    position: fixed;
    top:100px;
    right:20px;
    width:110px;
    height: 20px;
    text-align: right;
}
